.footer{
    width: 100%;
    height: 30vh;
  
}
.footerText{
    text-align: center;
    margin-top: 7%;
    color: grey;
    font-size: x-large;
}
.mail{
    margin-top: 2% !important; 
    font-size: medium;
}