.headerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}
.InitialButtons{
color:rgba(244, 132, 19, 1);
background-color:transparent;
padding: 1% 3%;
border: 1px solid rgba(244, 132, 19, 1);
margin-left: 1%;
border-radius: 20%/50%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
transition: all 0.4s;
transition-timing-function: ease;
cursor: pointer;
}
.InitialButtons:hover{
    color: white;
    background-color: rgba(244, 132, 19, 1);
}
.Logo{
    width: 80%;
    cursor: pointer;
}
.navBar{
    cursor: pointer;
    font-weight: lighter;
}
hr{
    
}
.decoration{
    text-decoration: none;
}
.workPhoto{
    margin-top: 2%;
    background-image: url('../image/workPhoto.jpg');
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactUsButton:hover{
    color: rgba(244, 132, 19, 1);
}
#menuIcon{
    width: 35%;
    height: 85%;
   
}
#openedMenu{
    border: "2px solid white";
    position: absolute;
    right: 0;
    background-color: transparent ;
    height: 85vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
}
.menuNav{
margin-top: 20%;
}